.main-container {
    text-align: center;
    margin-top: 70px;
}

.label {
    position: relative;
    right: 40px;
    bottom: 30px;
}

.shift {
    position: relative;
    top: 60px;
    right: 100px;
}

.div-tf {
    margin-top: 40px;
    align-items: center;
    margin-left: 350px;
    display: flex;
}

.link-elem {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.header-container {
    margin-right: 400pt;
    text-align: center;
    display: inline-flex;
}

.header {
    margin-left: 20px;
    font-size: 14pt;
    margin-top: 10px;
}

.dropzone-text {
    line-height: 200px;
}

.file {
    position: relative;
    left: 70%;
    display: block;
}

.cancel-load {
    marginLeft: 5px;
    position: relative;
    top: 5px;
}

.select {
    margin-top: 20px;
    width: 600px;
    height: 40px;
    right: 170px;
    border: 1px solid #ced4da;
    position: relative;
}

.level-label {
    position: relative;
    float: left;
    left: 200px;
    bottom: 25px;
}

