form {
    font-family: Arial, Helvetica, sans-serif;
    border: 0.15rem solid #000;
    width: 50%;
    margin: 1rem auto;
    padding: 1rem;
}

input {
    display: block;
}

input[type="button"], input[type="submit"] {
    margin: 1rem auto;
}

form div {
    margin: 1rem;
    padding: 1rem;
    border: 0.15rem solid #000;
}
